.my-posts-page-title {
    text-align: center;
	font-size: 40px;
	font-family: "Playfair Display", serif;
	padding: 20px;
	margin-top: 50px;
	background-color: rgba(227, 213, 243, 0.7);
	border-radius: 35px;
}

.post-card {
	align-items: center;
}

.my-posts-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 1.5rem;
}

.delete-icon:hover {
	transform: scale(1.05);
	transition: ease-in-out 0.1s;
}