
.my-posts-page-title {
	text-align: center;
	font-size: 50px;
	font-family: "Playfair Display", serif;
	padding: 20px;
	background-color: rgba(227, 213, 243, 0.7);
	border-radius: 35px;
}

.my-posts-review-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding: 1rem;
	margin: 2rem;
	border-radius: 35px;
	width: 1000px;
	height: 600px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Soft shadow for the post card */
}