/* client/src/components/home.css */
body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3; /* Light grey background color */
    margin: 0;
    padding: 0;
}

.home-container {
    text-align: center;
    padding: 0; /* Remove padding to ensure header is at the top */
}

.home-content {
    padding-top: 4rem; /* Add padding to avoid overlap with fixed header */
}

.home-title {
    color: black; /* Black text color */
    font-size: 2rem;
}

.home-description {
    color: black; /* Black text color */
    font-size: 1.2rem;
}